main {
    background-color: #FFF67E;
}
@font-face {
    font-family: 'Maassslicer';
    src: url("../fonts/Maassslicer.ttf");
}
@font-face {
    font-family: 'MyriadPro';
    src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}
@font-face {
    font-family: 'UniNeue';
    src: url("../fonts/UniNeue-HeavyItalic.ttf");
}


.container {
    margin: 0 auto;
    max-width: 1470px;
}
.first-block-wrapper{
    width: 100%;
}
.about-product {
    margin-top: 150px;
    padding-bottom: 150px;
}

.accordeon-desk {
    font-family: 'UniNeue';
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
}

#accordion-1{
    position: relative;
    font-weight: 400;
    font-size: 36px;
    line-height: 37.8px;
}
#accordion-1 .head{
    background: linear-gradient(107.41deg, #024E30 0%, #2D775A 100%);
    color: #FFFFFF;
    padding: 38px 34px;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

#accordion-1 .arrow{
    content: "";
    position: absolute;
    right: 25px;
    width: 32px;
    height: 32px;
    top: 40px;
    background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all .3s ease-in-out;
}

#accordion-1 .head:hover .arrow{
    opacity: 1;
}

#accordion-1 .head:hover, #accordion-1 .active{
    border-radius: 8px 8px 0 0;
    background: linear-gradient(107.41deg, #024E30 0%, #2D775A 100%);
}

#accordion-1 .arrow-animate{
    transform: rotate(45deg);
    opacity: 1;
}

#accordion-1 .content{
    background: linear-gradient(107.41deg, #024E30 0%, #2D775A 100%);
    display: none;
    padding: 20px 30px;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.about-title {
    font-family: 'Maassslicer';
    font-weight: 400;
    font-size: 90px;
    line-height: 95.4px;
    margin-bottom: 70px;
    padding-left: 10px;
}

#footer {
    background: linear-gradient(90deg, rgb(2, 78, 48), rgb(45, 119, 90));
}
.copyright {
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    padding: 44px 0 44px 0;
}


.copyright-mob {
    background-color: #0B4D2E;
    background-image: url(/images/footerbg_mob.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 60px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.without_mob {
    display: none;
    width: 100%;
    background: linear-gradient(180deg, #FFF032 50.08%, #FAC800 100%);
    min-height: 728px;
    height: 100%;
    
}
.without-bg {
    position: absolute;
    height: 100%;
    z-index: 0;
    max-height: 728px;
    height: 100%;
    display: flex;

}

.title-mob {
    font-family: 'MariadPro', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: #fff;
    padding: 3px 32px 0 32px;
    align-items: center;
    text-align: center;
    width: 100%;
}
.buttons-img {
    position: relative;
    margin-bottom: 22px;
    gap: 17px;
    z-index: 1;
}
.shop-title-bg{
    max-width: 350px;
    margin: 0;
    display: flex;
    justify-content: start;
    position: relative;
    background-color: #E31E24;
    overflow: hidden;
    text-align: left;
    margin-bottom: 18px;
}
.shop-title-bg::before{
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px 30px 0 0;
    border-color: #93B628 transparent transparent transparent;
    transform: rotate(0deg);
}

.shop-buttons {
    height: 728px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: flex-end;
}

.about-mob .contact-info {
    background-color: #FFF7B2;
}
.product-title-bg{
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #0B4D2E;
    overflow: hidden;
    text-align: left;
    margin-top: 26px;
}
.product-title-bg::after{
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px 30px 0 0;
    border-color: #FFF7B2 transparent transparent transparent;
    transform: rotate(0deg);
    
}
.about-title-bg {
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #0B4D2E;
    overflow: hidden;
    text-align: left;
    margin-bottom: 26px;
}
.about-title-bg::after {
    content: "";
    position: absolute;
    right: 0;
    top: -5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px 30px 0 0;
    border-color: #FFF7B2 transparent transparent transparent;
    transform: rotate(180deg);
}
.title-bg {
    height: 0;
    border: 0 solid transparent;
    border-right-width: 33px;
    border-bottom: 51px solid #0B4D2E;
}

.contacts-info {
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    margin-top: 29px;
    padding-bottom: 6px;
}
.contacts-info span {
    color: #000;
    font-weight: 700;
    font-size: 18px;
}
.about-mob{
    display: none;
}
.contact-info {
    display: none;
}
.copyright-mob {
    display: none;
}

@media (max-width: 1400px) {
    .about-title {
        font-size: 65px;
        margin-bottom: 20px;
    }
    .container {
        max-width: 1000px;
    }
    .about-product {
        margin-top: 50px;
        padding-bottom: 50px;
    }
}
@media (max-width: 1200px) {
    .about-title {
        font-size: 65px;
        margin-bottom: 20px;
    }
    .container {
        max-width: 900px;
    }
    .about-product {
        margin-top: 100px;
        padding-bottom: 110px;
    }
}
@media (max-width: 992px) {
    .about-title {
        font-size: 65px;
        margin-bottom: 20px;
    }
    .container {
        max-width: 680px;
    }
    .about-product {
        margin-top: 100px;
        padding-bottom: 105px;
    }
    #accordion-1 {
        font-size: 30px;
    }
    #accordion-1 .head {
        padding: 25px 34px;
    }
    #accordion-1 .arrow {
        width: 25px;
        height: 25px;
        top: 30px;
    }
}
@media (max-width: 768px) {
    .about-title {
        font-size: 65px;
        margin-bottom: 20px;
    }
    .container {
        max-width: 590px;
    }
    .about-product {
        margin-top: 55px;
        padding-bottom: 55px;
    }
    .copyright {
        padding: 25px 0;
    }
}
@media (max-width: 640px) {
    #accordion-1 {
        font-size: 25px;
    }
    #accordion-1 .head {
        padding: 20px 34px;
    }
    #accordion-1 .arrow {
        width: 20px;
        height: 20px;
    }
    .container {
        max-width: 500px;
    }
}
@media (max-width: 480px) {
    body {
        font-family: 'MyriadPro';
    }
    .about-product {
        display: none;
    }
    #main {
        background-color: #FFF7B2;
    }
    .copyright {
        display: none;
    }
    .copyright-mob {
        display: flex;
        width: 100%;
    }
    .shop-title-bg {
        max-width: 295px;
    }
    .without_mob {
        display: block;
    }
    .about-mob {
        display: block;
    }
    .contact-info {
        display: block;
    }
    .container {
        max-width: 410px;
    }

    #accordion-1 {
        font-weight: 400;
        font-size: 36px;
        line-height: 38px;
    }
    #accordion-1 .head{
        background: #4C7528;
        color: #FFFFFF;
        padding: 18px 0px 13px 20px;
        border-radius: 0px;
    }
    
    #accordion-1 .arrow{
        width: 44px;
        height: 44px;
        top: 5px;
        background-image: url(../images/arrow.svg);
        transition: all .1s ease-in-out;
    }
    #accordion-1 .head:hover, #accordion-1 .active{
        background: #4C7528;
    }
    
    #accordion-1 .arrow-animate{
        transform: rotate(0deg);
    }
    
    #accordion-1 .content{
        background: #4C7528;
        border-radius: 0px;
    }
}
@media (max-width: 411px) {
    body {
        font-family: 'MyriadPro';
    }
    .about-product {
        display: none;
    }
    #main {
        background-color: #FFF7B2;
    }
    .buttons-img {
        width: 150px;
    }
    .shop-title-bg {
        height: 35px;
        max-width: 290px;
    }
    .title-mob {
        font-size: 27px;
    }
    .container {
        max-width: 305px;
    }

    #accordion-1 {
        font-size: 25px;
    }
    
    #accordion-1 .arrow{
        width: 30px;
        height: 30px;
        top: 5px;
    }
    #accordion-1 .head {
        padding: 7px 0px 7px 20px;
    }
}
@media (max-width: 340px) {
    .container {
        max-width: 250px;
    }
    .buttons-img {
        width: 120px;
    }
    #accordion-1 {
        font-size: 20px;
    }
    #accordion-1 .arrow {
        width: 20px;
    }
    .title-mob {
        font-size: 26px;
    }
    .shop-title-bg {
        max-width: 250px;
    }
}







